/* write your CSS here */

.logo
{
    background-image: url("images/logo.png");
    height: 50px;
    width:50px;
    background-size: cover;
    background-position: center;
}
#navbarColor03
{
    height: auto !important;
}
.headings
{
    padding:0;
    margin-left:10px;
}
.header
{
    display:flex;
    padding: 5px;
}
.container
{
    padding-top:2em !important;
    justify-content: center;
    /*padding: 0;*/
    width:100% !important;
}
.book
{
    background-image: url("images/book.png");
    height:300px;
    width:200px;
    background-size: cover;
    background-position: center;
    display: flex;
}
.card-body
{
    display:flex;
    flex-wrap: wrap;   
    width:100% !important; 
    border:gray;
  
}
#book-div
{
    width:auto;
  
}
.contents
{
    width:auto;
    margin:16px;   
}
input
{
    width:50px !important;
    text-align: center;
    
}
/*.for-flex
{
    
    display: flex !important;
    flex-wrap: wrap;
}*/
.breadcrumb{
    justify-content: center;
background-color:#d1eefb;
    
}
.price
{

    color:#79b44d;
}
.author,.price,.p-price,.amount
{
    font-weight: bold;
}
section
{
    /*margin-top: 2em;*/
    padding: 0;
float: right;
  
}
#no-of-books
{
    width:50px !important;
    text-align: center;
}
.input-group-append
{
    background-color:#19abec !important;
    color:white;    
}
